.main{
    min-height: 80vh;
    padding-bottom: 30px;
    padding-top: 35px;
    .layout-cart{
        .wrap-cart{
            max-width: 1400px;
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
            .content-details{
                .main-content,.collection-cart{
                    background: #fff;
                    border-radius: 4px;
                    box-shadow: 0 0 6px rgb(0 0 0 / 8%);
                }
                .main-content{
                    margin-bottom: 50px;
                    .cart-heading{
                        border-bottom: 0;
                        padding: 20px 15px;
                        display: flex;
                        display: -ms-flex;
                        display: -webkit-flex;
                        align-items: center;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        h1{
                            font-size: 20px;
                            margin: 0;
                            font-weight: 700;
                            color: #333;
                            line-height: 1.2;
                        }
                        p{
                            margin: 0;
                        }
                        .cart-shipping-free{
                            flex: 0 0 100%;
                            max-width: 100%;
                            border-top: 1px solid #eae4e8;
                            margin-top: 10px;
                            padding: 15px 0 0;
                            .shipping-bar{
                                height: 8px;
                                width: 100%;
                                background-color: #e9e9e9;
                                border-radius: 5px;
                                margin: 10px 0 15px;
                                position: relative;
                                span{
                                    background-color: #ffbc11;
                                    width: 0;
                                    border-radius: 5px;
                                    transition: width .4s ease-in-out;
                                    display: block;
                                    height: 100%;
                                    position: relative;
                                    &::after{
                                        width: 24px;
                                        height: 24px;
                                        line-height: 24px;
                                        display: inline-flex;
                                        align-items: center;
                                        justify-content: center;
                                        border-radius: 50%;
                                        position: absolute;
                                        top: 4px;
                                        right: 0;
                                        transform: translate(50%, -50%);
                                        font-weight: 700;
                                        content: ">";
                                        font-size: 12px;
                                        color: #ffbc11;
                                        border: 1px solid #ffbc11;
                                        background: #fff;
                                    }
                                }
                            }
                            .shipping-title{
                                font-size: 14px;
                                font-weight: 400;
                                color: #666666;
                                .price{
                                    color: #ff0000;
                                    font-weight: bold;
                                }
                                .free-ship{
                                    text-transform: uppercase;
                                    color: #000000;
                                    font-weight: 600;
                                }
                            
                            }
                        }

                    }
                    .list-product{
                        padding: 15px;
                        .cart{
                            .cart-row{
                                width: 100%;
                                display: inline-block;
                                .table-cart{
                                    padding: 8px 10px;
                                    border: 2px solid #eae4e8;
                                    overflow: hidden;
                                    border-radius: 8px;
                                    .media-line{
                                        border-bottom: 1px solid #f1f1f1;
                                        position: relative;
                                        display: -ms-flexbox;
                                        display: -webkit-flex;
                                        display: flex;
                                        -webkit-flex-direction: row;
                                        -ms-flex-direction: row;
                                        flex-direction: row;
                                        -webkit-justify-content: space-between;
                                        justify-content: space-between;
                                        padding: 15px 10px;
                                        .media-left{
                                            flex: 0 0 80px;
                                            max-width: 80px;
                                            padding: 0;
                                            position: relative;
                                            display: block;
                                            .item-img{
                                                img{
                                                    border: 1px solid #ededed;
                                                    max-width: 100%;
                                                    vertical-align: middle;
                                                }
                                            }
                                            .item-remove{
                                                position: absolute;
                                                top: -7px;
                                                left: -10px;
                                                button{
                                                    border: none;
                                                    outline: none;
                                                    display: flex;
                                                    align-items: center;
                                                    justify-content: center;
                                                    background: #8f9bb3;
                                                    color: #fff;
                                                    font-size: 8px;
                                                    font-weight: 400;
                                                    width: 20px;
                                                    height: 20px;
                                                    line-height: 20px;
                                                    text-align: center;
                                                    border-radius: 50%;
                                                }
                                            }
                                        }
                                        .media-right{
                                            flex: 1 1 auto;
                                            max-width: 1 1 auto;
                                            padding-left: 18px;
                                            padding-right: 18px;
                                            .item-info{
                                                margin-bottom: 10px;
                                                .item-title{
                                                    font-size: 15px;
                                                    margin: 0 0 2px;
                                                    font-weight: 500;
                                                    color: #333;
                                                    line-height: 1.2;
                                                }
                                            }
                                            .item-price{
                                                p{
                                                    margin: 0;
                                                    span{
                                                        font-weight: 600;
                                                        color: #8f9bb3;
                                                    }
                                                    del{
                                                        color: #8f9bb3;
                                                        font-size: 12px;
                                                        margin-left: 5px;
                                                    }
                                                }
                                            }
                                        }
                                        .media-total{
                                            text-align: right;
                                            .item-total{
                                                .price{
                                                    font-size: 16px;
                                                    font-weight: 700;
                                                }
                                            }
                                            .item-qty{
                                                margin: 8px 0 3px;
                                                display: flex;
                                                -ms-display: flex;
                                                -webkit-display: flex;
                                                width: 100%;
                                                button{
                                                    font-weight: 500;
                                                    padding: 0;
                                                    height: 28px;
                                                    width: 28px;
                                                    text-align: center;
                                                    background: #f9f9f9;
                                                    color: #252a2b;
                                                    border: 1px solid #f3f4f4;
                                                    border-radius: 0px;
                                                    outline: none;
                                                    appearance: none;
                                                    display: flex;
                                                    align-items: center;
                                                    justify-content: center;
                                                    &.btn-subtract{
                                                        float: left;
                                                    }
                                                    &.btn-plus{
                                                        float: right;
                                                    }
                                                }
                                                input{
                                                    float: left;
                                                    font-weight: 500;
                                                    font-size: 15px;
                                                    width: 36px;
                                                    height: 28px;
                                                    padding: 0;
                                                    background: #fff;
                                                    text-align: center;
                                                    outline: none;
                                                    border: 1px solid #f3f4f4;
                                                    border-radius: 0px;
                                                    -webkit-appearance: none;
                                                    -moz-appearance: none;
                                                    -o-appearance: none;
                                                    appearance: none;
                                                }
                                            }
                                        }
                                    }
                                }
                                .order-note{
                                    .input-note{
                                        background: #f3f4f4;
                                        padding: 15px;
                                        margin: 20px 0 10px;
                                        label{
                                            display: block;
                                            margin: 0px 0 10px;
                                            font-weight: 600;
                                            font-size: 14px;
                                        }
                                        textarea{
                                            padding: 10px 15px;
                                            width: 100%;
                                            min-height: 80px;
                                            resize: none;
                                            border: 1px solid #dfe0e1;
                                            box-shadow: none;
                                        }
                                    }
                                }
                            }

                        }
                    }
                }
                .collection-cart{
                    padding: 15px 10px;
                    h2{
                        font-size: 20px;
                        font-weight: bold;
                        margin-top: 10px;
                        margin-bottom: 20px;
                        padding-left: 8px;
                    }
                    .box-product{
                    // Custom slider
                    .slick-prev,.slick-next{
                        z-index: 3;
                        width: 30px;
                        height: 30px;
                        line-height: 28px;
                        font-size: 14px;
                        border-radius: 50%;
                        background-color: #f2f2f2;
                        top: -35px;
                    }
                    .slick-next{
                        right: 8px;
                    }
                    .slick-prev{
                        left: 92%;
                    }
                    .slick-prev:before{
                        content: "<-";
                        color: #000;
                    }
                    .slick-next:before{
                        content: "->";
                        color: #000;
                    }
                        .product-item{
                            width: 268px;
                            .product-loop{
                                position: relative;
                                height: 100%;
                                margin-bottom: 0;
                                padding:0 8 14px;
                                .product-inner{
                                    position: relative;
                                    overflow: hidden;
                                    transition: all 400ms ease;
                                    height: 100%;
                                    margin-bottom: 0;
                                    padding-bottom: 14px;
                                    margin:0 8px;
                                    background: #fff;
                                    border-radius: 5px;
                                    &:hover .first-img{
                                        transform: translate(calc(-100% - 5px));
                                    }
                                    &:hover .second-img{
                                        transform: translate(-100%);
                                    }
                                    .product-image{
                                        position: relative;
                                        overflow: hidden;
                                        padding: 3px 3px 0;
                                        transition: all 400ms ease;
                                        display: block;
                                        .full-img{
                                            position: relative;
                                            display: flex;
                                            height: 100%;
                                            .first-img,.second-img{
                                                position: relative;
                                                width: 100%;
                                                height: 0;
                                                flex: 0 0 100%;
                                                padding-bottom: 110%;
                                                transition: all 500ms ease;
                                            }
                                            .first-img{
                                                background-repeat: no-repeat;
                                                background-position: center;
                                                background-size: cover;
                                                width: 100%;
                                                height: 200px;
                                                max-width: 100%;
                                                max-height: 100%;
                                            }
                                            .second-img{
                                                background-repeat: no-repeat;
                                                background-position: center;
                                                background-size: cover;
                                                width: 100%;
                                                height: 100% !important;
                                                max-width: 100%;
                                                max-height: 100%;
                                            }
                                        }
                                        .eye{
                                            position: absolute;
                                            top: 50%;
                                            left: 50%;
                                            transform: translate(-50%, -50%);
                                            z-index: 995;
                                            width: 34px;
                                            height: 34px;
                                            line-height: 37px;
                                            border-radius: 50%;
                                            border: 1px solid #eee;
                                            text-align: center;
                                            background: #fff;
                                            cursor: pointer;
                                            transition: all 400ms ease;
                                            .icon{
                                                color: #6d6565;
                                                font-size: 20px;
                                                font-weight: 300;
                                            }
                                            &:hover{
                                                background-color: #444;
                                                .icon{
                                                    color: #fff;
                                                }
                                                border: 1px solid #fff;
                                            }
                                        }

                                    }
                                    .product-details{
                                        background: #fff;
                                        transition: all 400ms ease;
                                        position: relative;
                                        padding: 10px 14px 10px;
                                        display: flex;
                                        flex-direction: column;
                                        flex: 1 1 auto;
                                        text-align: left;
                                        .details-top{
                                            display: flex;
                                            align-items: center;
                                            justify-content: space-between;
                                            .vendor{
                                                color: #9a9a9a;
                                                margin-bottom: 5px;
                                                text-transform: uppercase;
                                                font-size: 12px;
                                                font-weight: 500;
                                                overflow: hidden;
                                                text-overflow: ellipsis;
                                                white-space: nowrap;
                                            }
                                        }
                                        .description{
                                            font-size: 14px;
                                            margin: 0 0 5px;
                                            color: #333;
                                            font-weight: 500;
                                            white-space: initial;
                                            overflow: hidden;
                                            -webkit-line-clamp: 2;
                                            -webkit-box-orient: vertical;
                                            display: -webkit-box;
                                            height: 42px;
                                        }
                                        .variant{
                                            font-size: 12px;
                                            padding-bottom: 5px;
                                            font-weight: 500;
                                            color: #787c7c;
                                        }
                                        .price{
                                            margin-top: auto;
                                            padding-bottom: 15px;
                                            font-weight: 600;
                                            font-size: 14px;
                                            color: #333;
                                            display: flex;
                                            .price-box{
                                                flex: 1 1 auto;
                                                padding-right: 5px;
                                                .price-curr{
                                                    margin-right: 4px;
                                                    color: #d0021c;
                                                }
                                                .price-old{
                                                    color: #878c8f;
                                                    text-decoration: line-through;
                                                    font-weight: 300;
                                                    font-size: 13px;
                                                    &.decoration{
                                                        text-decoration: none !important;
                                                        font-weight: 600;
                                                        font-size: 14px;
                                                        color: #333;
                                                    }
                                                }
                                            }
                                            .sale-box{
                                                background: #ff0000;
                                                color: #fff;
                                                letter-spacing: 0.5px;
                                                padding: 2px 5px;
                                                min-width: 38px;
                                                text-align: center;
                                                align-self: center;
                                                -ms-align-self: center;
                                                border-radius: 3px;
                                                font-size: 12px;
                                                font-weight: 500;
                                            }
                                        }
                                        .actions{
                                            .actions-inner{
                                                position: relative;
                                                .btn-cart{
                                                    background: #fff;
                                                    color: #252a2b;
                                                    border: 0;
                                                    border-radius: 16px;
                                                    position: relative;
                                                    padding: 0 15px 0 40px;
                                                    height: 32px;
                                                    line-height: 30px;
                                                    outline: none;
                                                    font-size: 12px;
                                                    font-weight: 600;
                                                    text-transform: uppercase;
                                                    transition: border 0.5s ease;
                                                    -o-transition: border 0.5s ease;
                                                    -moz-transition: border 0.5s ease;
                                                    -webkit-transition: border 0.5s ease;
                                                    transition: all 400ms ease;
                                                    &:hover{
                                                        background: #263b96;
                                                        // width: 100%;
                                                        color:#fff;
                                                    }
                                                    &::before{
                                                        content: '';
                                                        position: absolute;
                                                        height: 32px;
                                                        width: 32px;
                                                        border-radius: 16px;
                                                        left: 0;
                                                        top: 0px;
                                                        bottom: 0px;
                                                        transition: all 400ms ease;
                                                    }
                                                    .btn-add{
                                                        position: relative;
                                                    }
                                                    .btn-icon{
                                                        left: 0px;
                                                        top: 0px;
                                                        position: absolute;
                                                        display: block;
                                                        width: 32px;
                                                        height: 32px;
                                                        background: #263b96;
                                                        border-radius: 50%;
                                                        transition: all 0.5s;
                                                        cursor: pointer;
                                                        display: flex;
                                                        align-items: center;
                                                        justify-content: center;
                                                        .icon{
                                                            color: #fff;
                                                            font-size: 14px;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                            
                                    }
                                }
                            }
                        }
                }
                }
            }
            .sidebar-cart{
                .wrap-order{
                    position: sticky;
                    top: 95px;
                    .order-block{
                        background: #fff;
                        padding: 15px;
                        margin-bottom: 15px;
                        border-radius: 4px;
                        box-shadow: 0 0 6px rgba(0, 0, 0, 0.08);
                        &.order-notify{
                            padding: 0;
                            border: 0;
                        }
                        .summary-title{
                            font-size: 20px;
                            font-weight: bold;
                            margin-top: 10px;
                            margin-bottom: 15px;
                            color: #333;
                            margin: 0 0 13px 0;
                            line-height: 1.2;
                        }
                        .summary-time{
                            background: #fcfcfc;
                            border: 1px solid #F5f5f5;
                            .summary-time_row{
                                padding: 10px 8px;
                                display: -ms-flexbox;
                                display: flex;
                                -ms-flex-wrap: wrap;
                                flex-wrap: wrap;
                                -ms-flex-pack: justify;
                                justify-content: space-between;
                                .boxtime-title{
                                    flex: 1 1 auto;
                                    width: 1%;
                                    padding-right: 10px;
                                    .txt-title{
                                        text-transform: uppercase;
                                        font-size: 13px;
                                        font-weight: 400;
                                        margin: 0 0 5px;
                                    }
                                    .txt-time{
                                        font-size: 13px;
                                        font-weight: 600;
                                        margin: 0;
                                        .icon{
                                            color: #f9bb01;
                                            margin-right: 5px;
                                            font-size: 15px;
                                            vertical-align: text-bottom;
                                        }
                                    }
                                }
                                .boxtime-radio{
                                    max-width: 50%;
                                    .radio-item{
                                        position: relative;
                                        .input-radio{
                                            position: absolute;
                                            top: 2px;
                                            left: 0;
                                            height: 15px;
                                            width: 15px;
                                            border-radius: 50%;
                                            color: #fff;
                                            background: #ffffff;
                                            border: 1px solid #e5e5e5;
                                            cursor: pointer;
                                            outline: none;
                                            display: inline-block;
                                            margin: 0;
                                            -webkit-transition: all 0.15s ease-out 0s;
                                            transition: all 0.15s ease-out 0s;
                                            -webkit-appearance: none;
                                            -moz-appearance: none;
                                            -ms-appearance: none;
                                            -o-appearance: none;
                                            appearance: none;
                                            box-sizing: border-box;
                                            padding: 0;
                                            &:checked{
                                                background: #263b96;
                                                border-color: #263b96;

                                            }
                                            &::before{
                                                position: absolute;
                                                top: 0;
                                                left: 0;
                                                content: '\2714\fe0e';
                                                font-size: 11px;
                                                height: 13px;
                                                width: 13px;
                                                line-height: 13px;
                                                opacity: 1;
                                                display: block;
                                                text-align: center;
                                            }
                                        }
                                        .label-radio{
                                            display: inline-block;
                                            position: relative;
                                            margin: 0;
                                            padding-left: 20px;
                                            font-size: 13px;
                                            font-weight: 500;
                                            cursor: pointer;
                                        }
                                    }
                                }
                                &.pick-selected{
                                    border-top: 1px solid #efefef;
                                    .boxtime-select{
                                        -ms-flex: 0 0 100%;
                                        flex: 0 0 100%;
                                        max-width: 100%;
                                        .select-choose{
                                            margin-right: -5px;
                                            margin-left: -5px;
                                            display: -ms-flexbox;
                                            display: flex;
                                            .select-box{
                                                flex-basis: 0;
                                                -ms-flex-positive: 1;
                                                flex-grow: 1;
                                                min-width: 0;
                                                max-width: 50%;
                                                padding-left: 5px;
                                                padding-right: 5px;
                                                margin-bottom: 10px;
                                                label{
                                                    display: block;
                                                    font-weight: 400;
                                                    font-size: 13px;
                                                }
                                                .select-option{
                                                    position: relative;
                                                    select{
                                                        padding: 0px 8px;
                                                        padding-right: 20px;
                                                        cursor: pointer;
                                                        outline: none;
                                                        border-radius: 4px;
                                                        height: 34px;
                                                        line-height: 32px;
                                                        background: #ffffff;
                                                        border: 1px solid #e5e5e5;
                                                        font-size: 14px;
                                                        width: 100%;
                                                        color: #000;
                                                        font-weight: 500;
                                                        -webkit-user-select: none;
                                                        -moz-user-select: none;
                                                        -ms-user-select: none;
                                                        user-select: none;
                                                        -webkit-appearance: none;
                                                        -moz-appearance: none;
                                                        -ms-appearance: none;
                                                        -o-appearance: none;
                                                        appearance: none;
                                                    }
                                                    &::after { 
                                                        content: '';
                                                        position: absolute;
                                                        top: calc(50% - 5px);
                                                        right: 10px;
                                                        border: solid #666666;
                                                        border-width: 0px 1px 1px 0;
                                                        display: inline-block;
                                                        padding: 3px;
                                                        transform: rotate(45deg);
                                                        -webkit-transform: rotate(45deg);
                                                        box-sizing: border-box;
                                                    }
                                                }
                                            }
                                        }
                                        .select-btn{
                                            button{
                                                display: block;
                                                width: 100%;
                                                border-radius: 4px;
                                                padding: 0 10px;
                                                height: 34px;
                                                line-height: 30px;
                                                color:#f9bb01;
                                                background: #ffffff;
                                                border: 2px solid #f9bb01;
                                                font-size: 13px;
                                                font-weight: 500;
                                                text-transform: uppercase;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .summary-total{
                            border-top: 0;
                            font-size: 16px;
                            padding-bottom: 10px;
                            padding-top: 10px;
                            font-weight: bold;
                            border-top: 1px dotted #dfe0e1;
                            border-bottom: 1px dotted #dfe0e1;
                            margin-bottom: 10px;
                            p{
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                margin: 0;
                                span{
                                    font-weight: bold;
                                    float: right;
                                    color: red;
                                    font-size: 24px;
                                }
                            }
                        }
                        .summary-action{
                            padding-top: 5px;
                            text-align: center;
                            p{
                                position: relative;
                                font-size: 14px;
                                margin-bottom: 4px;
                                padding-left: 15px;
                                font-weight: 400;
                                text-align: left;
                                &::before{
                                    content: "";
                                    width: 4px;
                                    height: 4px;
                                    background: #999999;
                                    left: 0;
                                    opacity: 1;
                                    position: absolute;
                                    top: 8px;
                                    border-radius: 50%;
                                }
                            }
                            .summary-alert{
                                background-color: #fee3e8;
                                border: 1px solid #fdd0d8;
                                color: #d20909;
                                font-size: 13px;
                                padding: 10px 15px;
                                margin: 10px 0;
                                text-align: left;
                            }
                        }
                        .summary-button{
                            a{
                                display: block;
                                background: red;
                                color: #fff;
                                text-decoration: none;
                                text-transform: uppercase;
                                padding: 10px 5px;
                                text-align: center;
                                font-size: 15px;
                                font-weight: bold;
                                border-radius: 0;
                                margin-top: 12px;
                                outline: none;
                                transition: all 0.3s ease-in-out;
                                &.disabled{
                                    pointer-events: none;
                                    opacity: 0.7;
                                    background: #151515;
                                }
                                &:hover{
                                    text-decoration: none;
                                }
                            }
                        }
                        &.sale{
                            display: flex;
                            flex-direction: column;
                            .coupon-item-inner{
                                margin-bottom: 10px;
                background: #fff;
                display: flex;
                display: -ms-flex;
                border-radius: 15px;
                height: 100%;
                border: 1px solid rgba(0, 0, 0, 0.08);
                .coupon-item-left{
                    flex: 0 0 30%;
                    -ms-flex: 0 0 30%;
                    max-width: 30%;
                    position: relative;
                    border-right: 1px dashed #eae4e8;
                    padding: 8px;
                    &::before,&::after{
                        content: "";
                        width: 20px;
                        height: 10px;
                        right: -10px;
                        position: absolute;
                        background: #f5f5f5;
                        z-index: 99;
                        border: 1px solid rgba(0, 0, 0, 0.08);
                        
                    }
                    &::before{
                        bottom: -1px;
                        border-bottom: 0;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                    }
                    &::after{
                        top: -1px;
                        border-top: 0;
                        border-bottom-left-radius: 10px;
                        border-bottom-right-radius: 10px
                    }
                    .box-img{
                        background: #fff;
                        padding: 10px;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        .box-img-inner{
                            position: relative;
                            height: 0;
                            display: block;
                            width: 100%;
                            padding-bottom: 100%;
                            .img{
                                max-width: 100%;
                                vertical-align: middle;
                                position: absolute;
                                left: 0;
                                right: 0;
                                top: 0;
                                bottom: 0;
                                margin: auto;
                                object-fit: contain;
                                border-style: none;
                                opacity: 1;
                                -webkit-filter: blur(0);
                                filter: blur(0);
                                transition: opacity 300ms, filter 400ms;
                                -webkit-transition: opacity 300ms, filter 400ms;
                            }
                        }
                    }
                }
                .coupon-item-right{
                    flex: 0 0 70%;
                    max-width: 70%;
                    position: relative;
                    display: flex;
                    display: -ms-flex;
                    flex-direction: column;
                    -ms-flex-direction: column;
                    justify-content: space-between;
                    -ms-justify-content: space-between;
                    padding: 10px;
                    color: #333;
                    .info{
                        background: transparent;
                        border: 0;
                        outline: none;
                        cursor: pointer;
                        position: absolute;
                        top: 5px;
                        right: 5px;
                        padding: 5px;
                        .icon{
                            color: #ccc;
                            font-size: 18px;
                        }
                    }
                    .item-top{
                        padding-bottom: 12px;
                        padding-right: 24px;
                        h3{
                            margin: 0 0 2px;
                            font-size: 14px;
                            font-weight: 700;
                            color: #333;
                            line-height: 1.2;
                        }
                        p{
                            font-size: 12px;
                            font-weight: 500;
                            margin-bottom: 0;
                        }
                    }
                    .item-bottom{
                        display: flex;
                        justify-content: space-between;
                        .bottom-details{
                            p{
                                margin-bottom: 0;
                                font-size: 10px;
                                color: #333;
                            }
                        }
                        .bottom-btn{
                            display: flex;
                            .button{
                                padding: 3px 6px;
                                font-size: 10px;
                                min-width: 92px;
                                letter-spacing: 0.5px;
                                border-radius: 20px;
                                margin-top: auto;
                                outline: none;
                                position: relative;
                                display: inline-block;
                                z-index: 1;
                                overflow: hidden;
                                color: #fff;
                                background-color: #f9bb01;
                                border: 0;
                                font-weight: 500;
                                text-align: center;
                                outline: none;
                                text-transform: uppercase;
                                transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
                                &:hover{
                                    border-color: #263b96;
                                    background: #263b96;
                                    color: #ffffff;
                                }
                            }
                        }
                    }
                }
            }
                        }
                    }
                    .summary-warning{
                        padding: 12px 15px;
                        border-radius: 4px;
                        background-color: #d9edf7;
                        p{
                            margin-bottom: 0;
                            &.textmr{
                                margin-bottom: 5px;
                            }
                        }
                    }

                }
            }
            
        }
    }
}

/* SCSS cho dots */
.slick-dots {
  display: flex !important;
  justify-content: center !important;
  margin: 0 !important;
  padding: 0 !important;
  list-style: none !important;
  bottom: -8px !important;

  li {
    margin: 0 5px !important;

    button {
      display: block !important;
      width: 6px !important;
      height: 6px !important;
      border: none !important;
      border-radius: 50% !important;
      background-color: rgba(93, 172, 70,0.4)!important;
      text-indent: -9999px;
      cursor: pointer;
    }
    &.slick-active {
        button{
            background-color: rgba(93, 172, 70,1)!important;
        }
    }
  }
}